.error-alert{
    width: min(100% - 1rem, 500px);
    margin-inline: auto;

    border-top: 5px solid var(--red);
    border-radius: 5px;
    background-color: var(--white-opacity);
    padding: 2rem;

    display: grid;
    gap: 2rem;
    
    justify-items: center;
    align-items: center;
}

.error-alert__x-icon{
    width: 100px;
    height: 100px;

    svg{
        fill: var(--red);
    }
}

.error-alert__description{
    color: var(--red);
    font-size: 1.2rem;

    span {
        padding-right: 0.4rem;
        font-weight: 600;
    }
}