.table__grid-wrapper {
  height: 480px;
  width: "100%";
  margin-top: 1.2rem;
}

.table__row-settings {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}

.app__layout .MuiDataGrid-footerContainer * {
  color: var(--white);
}
