.table__grid-wrapper {
  height: 480px;
  width: "100%";
  margin-top: 1.2rem;
}

/* Input and button styling */
.table__row-settings {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}
.table__row-settings :is(button, input) {
  border-radius: 2px;
  font-size: 1rem;
}
.table__row-settings button {
  border: 1px solid var(--indigo);
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  color: var(--white);
  background-color: var(--indigo);
  border: 2px solid var(--indigo);
  transition: 0.6s;
}
.table__row-settings button:hover {
  cursor: pointer;
  background-color: var(--white);
  color: var(--indigo);
}
.table__row-settings input {
  outline: none;
  border: 2px solid var(--indigo);
}

.app__layout .MuiDataGrid-footerContainer * {
  color: var(--white);
}
