.App{
  /* colors */
  /* lightblue = primary, indigo = secondary */
  --light-blue: #b3e5fc;
  --indigo: #5c6bc0; 
  --white: #fff;

  min-height: 100dvh;
  background-color: var(--light-blue);
  display: grid;
}

.app__layout{

}