.App {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--light-blue);
}

a{
  text-decoration: none;
  color: #000;
}


:is(.custom-button, input) {
  border-radius: 2px;
  font-size: 1rem;
}
.custom-button {
  border: 1px solid var(--indigo);
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  color: var(--white);
  background-color: var(--indigo);
  border: 2px solid var(--indigo);
  transition: 0.6s;
}
.custom-button:hover {
  cursor: pointer;
  background-color: var(--white);
  color: var(--indigo);
}
input {
  outline: none;
  border: 2px solid var(--indigo);
}
