.App{
  /* colors */
  /* lightblue = primary, indigo = secondary */
  --light-blue: #b3e5fc;
  --indigo: #5c6bc09d; 
  --white: #fff;

  min-height: 100dvh;
  display: grid;
  background-color: var(--light-blue);
}

/* .app__layout{

} */


.app__layout .MuiDataGrid-footerContainer *{
  color: var(--white);
}